<!--

Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App Shell</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="theme-color" name="theme-color" content="#4527A0">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/chrome-touch-icon-192x192.png" sizes="192x192" type="image/png">

    <style type="text/css">{{{inlineStyles}}}</style>
</head>
<body>

  <header class="header">
      <button role="tab" class="header__menu js-toggle-menu">
        Toggle nav menu
      </button>

      <h1 class="header__title">App Shell</h1>
  </header>

  <main class="main js-main" aria-role="main">
    {{{body}}}
  </main>

  <section class="side-nav js-side-nav">
    <div class="side-nav__content js-side-nav-content">
      <div class="side-nav__header">
        <h1 class="side-nav__title">App shell</h1>
      </div>

      <div class="side-nav__body">
        <a role="tab" tabindex="0" class="side-nav__blog-post" href="/">Index</a>
        <a role="tab" tabindex="0" class="side-nav__blog-post" href="/url-1">URL 1</a>
        <a role="tab" tabindex="0" class="side-nav__blog-post" href="/url-2">URL 2</a>
      </div>

      <div class="side-nav__version">Version @VERSION@</div>
    </div>
  </section>

  {{#if remoteStyles}}
  <script>
  var remoteStyles = [
    {{#each remoteStyles}}
    '{{this}}',
    {{~/each}}
  ];

  // Asynchronously load CSS with a Request Animation Frame
  // For older browser support see this for a simple shim
  // http://www.paulirish.com/2011/requestanimationframe-for-smart-animating/
  window.requestAnimationFrame(function() {
    var elementToInsertLinkBefore =
      document.getElementsByTagName('script')[0];
    for (var i = 0; i < remoteStyles.length; i++) {
      var linkElement = document.createElement('link');
      linkElement.rel = 'stylesheet';
      linkElement.media = 'all';
      linkElement.href = remoteStyles[i];

      elementToInsertLinkBefore.parentNode.insertBefore(linkElement,
        elementToInsertLinkBefore);
    }
  });
  </script>

  <!-- In case the browser has JS disabled -->
  <noscript>
    {{#each remoteStyles}}
    <link href="{{this}}" rel="stylesheet" property="stylesheet" media="all">
    {{~/each}}
  </noscript>
  {{~/if}}

  {{#each remoteScripts}}
  <script src="{{this}}" async></script>
  {{~/each}}
</body>
</html>
